.field-multilingual div.container {
	position: relative;
}

.field-multilingual div.container > label:not(.file) {
	margin-bottom: 1rem!important;
}

/*--------------------------------------------*/
/* !Tabs */
/*--------------------------------------------*/

#contents-actions ul.tabs {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-end;
	margin-bottom: 0;
}

#contents-actions ul.tabs li {
	font-size: var(--text-smaller);
	color: var(--color-main-light);
	text-transform: uppercase;
	line-height: 1em;
	cursor: pointer;
	margin-right: 2rem;
}

#contents-actions ul.tabs li:hover {
	color: var(--color-accent);
}

#contents-actions ul.tabs li.active {
	color: var(--color-main);
}

#contents-actions .tab-panel input[type="file"] {
	margin-top: 0;
}

/*--------------------------------------------*/
/* !Tab Edit */
/*--------------------------------------------*/

.field-multilingual div.tab-edit fieldset {
	padding: 0;
	margin: 0 0 5px 0;
}

.field-multilingual div.tab-edit label {
	margin: 0
}

.field-multilingual div.tab-edit fieldset input.text {
	width: 100px;
	margin-right: 5px;
}
