/*--------------------------------------------*/
/* !Tabs */
/*--------------------------------------------*/

/* Master Tab Pseudo-label */
html:lang(en) [id="context"] ul.multilingualtabs:before {
	content: "Languages:";
}

html:lang(fr) [id="context"] ul.multilingualtabs:before {
	content: "Langues :";
}

[id="context"] ul.multilingualtabs:before {
	margin-right: var(--spacing-micro);
	font-size: var(--text-smallest);
}

[id="context"]:not(:hover) ul.multilingualtabs:before {
	opacity: 0;
	transition: opacity 4000ms linear 2000ms;
}

/*--------------------------------------------*/
/* !Tab Edit */
/*--------------------------------------------*/

.field-multilingual div.tab-edit fieldset {
	padding: 0;
	margin: 0 0 5px 0;
}

.field-multilingual div.tab-edit label {
	margin: 0
}

.field-multilingual div.tab-edit fieldset input.text {
	width: 100px;
	margin-right: 5px;
}

/* Enable absolute positioning context (for loading purposes, for example) --------*/
.field-multilingual .tab-panel {
	position: relative;
}

html:not(.js-active) .field-multilingual .tab-panel~.tab-panel,
.field-multilingual .tab-panel:not([style*="display:none;"])+.tab-panel {
	display: none;
}